.App{
  width: 500px;
}

.mainBody{
  background-color: aliceblue;
  flex-direction: column;
  display: flex;

}

.search-section{
  text-align: center;
}

.red-item{
  color:red;
}

th{
  text-align: left;
}

